<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home - Tax Tracker</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <!-- Menu Bar -->
    <div class="menu-bar">
        <!-- Logout Icon -->
        <div class="menu-item icon">
            <a href="#">Logout</a> <!-- Update the href attribute to your logout URL -->
        </div>

        <!-- Application Name -->
        <div class="logo">
            TaxTracker
        </div>

        <!-- Home Icon -->
        <div class="menu-item icon">
            <a href="#">Home</a> <!-- This can be left empty or updated with a URL if needed -->
        </div>
    </div>

    <!-- Main Content -->
    <div class="content">
        <h1>Welcome to Tax Tracker!!!</h1>
        <p><a href="/gst">View Current GST Rate</a></p>
        <p><a href="/calculate">Calculate GST Rate</a></p>
    </div>
</body>
</html>
